*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}

.section {
	width: 100%;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

.layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#section0 /*wakugumi*/{
	background: url(../img/wadaiko1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

#section0 .l0 {
	position: absolute;
	background:  url(../img/wadaiko2.png) no-repeat;
	background-size: cover;
	background-position: center;
}
#section0 .l1 {
	position: absolute;
	background:  url(../img/wadaiko3.png) no-repeat;
	background-size: cover;
	background-position: center;
}

#section1 /*wakugumi*/{
	background: url(../img/2itsuki.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}

#section2 /*wakugumi*/{
	background: url(../img/korabo.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#section2 .l0 {
	position: absolute;
	background:  url(../img/korabo2.png) no-repeat;
	background-size: cover;
	background-position: center;
}
#section2 .l1 {
	position: absolute;
	background:  url(../img/korabo3.png) no-repeat;
	background-size: cover;
	background-position: center;
}

#section3 /*wakugumi*/{
	background: url(../img/irai21.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#section3 .l0 {
	position: absolute;
	background:  url(../img/irai22.png) no-repeat;
	background-size: cover;
	background-position: center;
}
#section3 .l1 {
	position: absolute;
	background:  url(../img/irai23.png) no-repeat;
	background-size: cover;
	background-position: center;
}