@media screen and (max-width: 640px) and (orientation:landscape){
	img {
		max-width: 100%;
		height: auto;
		width /***/:auto;
	}
	#container{
		width: 100%;
	}
	*{
		margin: 0;
		padding: 0;
	}
	body{
		width: 100%;
		height: 100%;
	}

	img {
		height: auto;
	}

	.section {
		width: 100%;
		height: 400px;
		position: relative;
		margin: 0 auto;
	}
	.article {
		background-color: rgba(119,136,153,0.3);
		color: white;
		padding: 1%;
	}

	#section0 /*wakugumi*/{
		background: url(../img/about/wadaiko1.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	#section0 .img1 img{
		width: 30%;
		position: absolute;
		top: 5%;
		left: 5%;
	}  
	#section0 .img2 img{
		width: 37%;
		position: absolute;
		bottom: 0%;
		left: 54%;
	}
	#section0 .article {
		width: 80%;
		position: absolute;
		top: 20%;
		left: 10%;
		font-size: x-small;
	}


	#section1 /*wakugumi*/{
		background: url(../img/about/itsuki0.jpg) no-repeat;
		background-size: cover;
	}
	#section1 .img1 img{
		width: 8%;
		position: absolute;
		top: 66%;
		left: 44%;
	}
	#section1 .img2 img{
		width: 50%;
		position: absolute;
		top: 58%;
		left: 24%;
	}
	#section1 .img3 img{
		width: 100%;
		position: absolute;
		top: 40%;
		left: 0%;
	}
	#section1 .img4 img{
		width: 13%;
		position: absolute;
		top: 30%;
		left: 18%;
	}
	#section2 /*wakugumi*/{
		background: url(../img/about/corabo0.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	#section2 .img1 img {
		width: 55%;
		position: absolute;
		top: 10%;
		left: 40%;
	} 
	#section2 .img2 img {
		width: 52%;
		position: absolute;
		bottom: 0%;
		left: 0%;
	}

	#section3 /*wakugumi*/{
		background: url(../img/about/1asiato.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	#section3 .img1 img {
		width: 87%;
		position: absolute;
		top: 55%;
		left:3%;
	} 
	#section3 .img2 img {
		width: 13%;
		position: absolute;
		bottom: 0%;
		left: 26%;
	} 
	#section3 .img3 img {
		width: 15%;
		position: absolute;
		top: 5%;
		left: 0%;
	}
	#section3 .img4 img {
		width: 26%;
		position: absolute;
		bottom: 50%;
		left: 65%;
	} 
	#section3 .img5 img {
		width: 60%;
		position: absolute;
		top: 0%;
		left: 25%;
	}	

	#section4 /*wakugumi*/{
		background: url(../img/about/irai31.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
	#section4 h1 img {
		width: 60%;
		position: absolute;
		top: 10%;
		left: 20%;
	}
	#section4 .article {
		width: 80%;
		position: absolute;
		top: 30%;
		left: 10%;
		font-size: x-small;
	}
	#section4 .article a {
		color: white;
	}
	#section4 .article a:hover {
		color: rgb(119,136,153);
	} 

	.back_icon {
		display: none;
	}
}