*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
}

img {
	height: auto;
}

.section {
	width: 100%;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

#section0 /*wakugumi*/{
	background: url(../img/about/wadaiko1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#section0 .img1 img{
	width: 30%;
	position: absolute;
	top: 15%;
	left: 5%;
}  
#section0 .img2 img{
	width: 37%;
	position: absolute;
	top: 38%;
	left: 54%;
}


#section1 /*wakugumi*/{
	background: url(../img/about/2itsuki.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#section2 /*wakugumi*/{
	background: url(../img/about/corabo0.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#section2 .img1 img {
	width: 55%;
	position: absolute;
	top: 10%;
	left: 40%;
} 
#section2 .img2 img {
	width: 52%;
	position: absolute;
	top: 13%;
	left: 0%;
}

#section3 /*wakugumi*/{
	background: url(../img/about/1asiato.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#section3 .img1 img {
	width: 87%;
	position: absolute;
	top: 55%;
	left:3%;
} 
#section3 .img2 img {
	width: 13%;
	position: absolute;
	top: 71%;
	left: 25%;
} 
#section3 .img3 img {
	width: 15%;
	position: absolute;
	top: 5%;
	left: 0%;
}
#section3 .img4 img {
	width: 26%;
	position: absolute;
	top: 20%;
	left: 70%;
} 
#section3 .img5 img {
	width: 60%;
	position: absolute;
	top: 0%;
	left: 25%;
}	

#section4 /*wakugumi*/{
	background: url(../img/about/irai31.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
#section4 h1 img {
	width: 60%;
	position: absolute;
	top: 10%;
	left: 20%;
}
#section4 h2 img {
	width: 5%;
	position: absolute;
	top: 60%;
	left: 45%;
} 

.back_icon {
	position: fixed;
	top: 80%;
	left: 90%;
}
.back_icon img {
	width: 90%;
	opacity: 0.7;
	-webkit-transition: all 0.7s ease; 
}
.back_icon img:hover {
	opacity: 1;
}