* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
}

img {
	height: auto;
}

.section {
	width: 100%;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

.cork {
	position: relative;
	top: 3%;
	left: 10%;
	width: 80%;
	height: 80%;
	background: url(../img/cork.png);
	background-size: cover;
	background-position: center;
}
/*img ookisa shitei*/
.cork .img {
	width: 14%;
	position: absolute;
}
.cork .img img{
	width: 100%;
}

/*img potision mazu rortate kara*/
#section0 .i1 {
	top: 6%;
	left: 10%;
	transform: rotateZ(-0deg);
}
#section0 .i1:hover {
	transform: rotateZ(15deg);
}
#section0 .i2 {
	top: 5%;
	left: 30%;
	transform: rotateZ(10deg);
}
#section0 .i3 {
	top: 4%;
	left: 50%;
	transform: rotateZ(-10deg);
}
#section0 .i4 {
	top: 6%;
	left: 70%;
	transform: rotateZ(10deg);
}
#section0 .i5 {
	top: 50%;
	left: 10%;
	transform: rotateZ(-10deg);
}
#section0 .i6 {
	top: 50%;
	left: 30%;
	transform: rotateZ(10deg);
}
#section0 .i7 {
	top: 50%;
	left: 50%;
	transform: rotateZ(-10deg);
}
#section0 .i8 {
	top: 50%;
	left: 70%;
	transform: rotateZ(10deg);
}


.navi {
	position: fixed;
	top: 5%;
	left: 93%;
}
.navi ul {
	list-style: none;
}

.navi .b1{
	background: red;
	cursor: pointer;
}
.navi .b1:hover{
	background: yellow;
}
.navi .b2{
	background: red;
	cursor: pointer;
}
.navi .b2:hover{
	background: yellow;
}

.back_icon {
	position: fixed;
	top: 80%;
	left: 90%;
}
.back_icon img {
	width: 90%;
	opacity: 0.7;
	-webkit-transition: all 0.7s ease; 
}
.back_icon img:hover {
	opacity: 1;
}