body{
	width:100%;
	height: 100%;
}

body {
	background-image: url(../img/history.png);
	background-size: cover;
	background-position: center; 
}

#carousel-example-generic {
	width: 50%; 
	height: 50%;
}