* {
	margin: 0;
	padding: 0; 
}
body {
	width: 100%;
	height: 100%;
}

.back {
	width: 100%;
	height: 800px;
	position: absolute;
	background-size: cover;
	z-index: 1;
}

.back0 {
	background-image: url(../img/wadaiko1.jpg);
}
.back1 {
	background-image: url(../img/stage.jpg);
}
.back2 {
	background-image: url(../img/history.png);
}
.back3 {
	background-image: url(../img/schedule.png);
}
.back4 {
	background-color: black;
	opacity: 0.7;
}

.none {
	display: none;
}

.active {
	display: block !important;
	z-index: 2 !important;
}


.container {
	width: 100%;
	height: 800px;
	position: absolute;
	background-color: black; 
	background-size: cover;
	background-position: center;
	opacity: 1;
	z-index: 3;
}

.container img {
	position: absolute;
}
.container .img1 {
	width: 40%;
	height: 67%;
	top: 6%;
	left: 30%;
}
.container .img2 {
	width: 13%;
	height: 84%;
	top: 5%;
	left: 80%;
}
.container .img3 {
	width: 4%;
	height: 93%;
	top: 5%;
	left: 20%;
}

.menu {
	width: 14%;
	position: relative;
	top:0%;
	left: 0%;
	z-index: 4;
}

#m1 a{
	width: 13%;
	height: 21%;
	position: absolute;
	top: 27.2px;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease; 
}
#m1 a:hover{
	opacity: 0.8;
}

#m2 a{
	width: 13%;
	height: 21%;
	position: absolute;
	top: 220.4px;
	opacity: 0.5;	
	-webkit-transition: all 0.3s ease; 
}
#m2 a:hover{
	opacity: 0.8;
}

#m3 a{
	width: 13%;
	height: 21%;
	position: absolute;
	top: 413.6px;
	opacity: 0.5;	
	-webkit-transition: all 0.3s ease; 
}
#m3 a:hover{
	opacity: 0.8;
}

#m4 a{
	width: 13%;
	height: 21%;
	position: absolute;
	top: 606.8px;
	opacity: 0.5;	
	-webkit-transition: all 0.3s ease; 
}
#m4 a:hover{
	opacity: 0.8;
}