body {
    width: 100%;
    height: 100%;
    background: url(../img/schedule.png);
    background-size: cover;
    background-position: center; 
}

.container {
    width: 937.5px;
    height: 600px;
    padding: 15px;
    background: url(../img/cork.png);
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.section {
    width: 300px;
    height: 500px;
    margin: 30px;
    background: url(../img/itsuki_memo.png);
    background-size: cover;
    position: relative;
    top: 2.5%;
    float: left;
}